Source: bsd-mailx
Section: mail
Priority: standard
Maintainer: Ubuntu Core Developers <ubuntu-devel-discuss@lists.ubuntu.com>
XSBC-Original-Maintainer: Robert Luberda <robert@debian.org>
Standards-Version: 3.8.0
Build-Depends: debhelper (>= 6), groff, liblockfile-dev (>= 1.05)

Package: bsd-mailx
Architecture: any
Depends: ${shlibs:Depends}, postfix | mail-transport-agent, base-files (>= 2.2.0)
Provides: mail-reader, mailx
Conflicts: mailutils (<< 1:1.1+dfsg1-4), mailx (<< 1:20071201)
Replaces: mailx (<< 1:20071201)
Description: A simple mail user agent
 mailx is the traditional command-line-mode mail user agent.
 Even if you don't use it may be required by other programs.

 
Package: mailx
Priority: extra
Architecture: all
Depends: bsd-mailx
Description: Transitional package for mailx rename
 This dummy package is provided to smooth the upgrade from mailx to
 bsd-mailx and can be safely removed afterwards.
